@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,900&display=swap');
*{
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 400;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --primary: #100D0D;
    --secondary: #B64141;
    --third: #ff0000;
}
header{
    display: flex;
    border-bottom: 0.5rem solid var(--black);
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

header a{
    text-decoration: none;
    color: #000000;
}
header div 
main{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

 footer{
     background-color: var(--black);
     height: 4rem;
 }
footer div{
    height: 4rem;;
    display: flex;
    align-items: center;

}
.content{
  width: 100%;
  max-width: 1372px ;
  margin: 0 auto;  

}


/*specific main */
main > picture.main > img {
    width: 100%;
}

.introducao{
    display: flex;
    border-bottom: 0.5rem solid var(--black);
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.introducao div img{
    justify-content:left;
}


